@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html { 
    background-image: url('/images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    font-family: "Poppins", "Inherit", sans-serif;
    overflow: hidden; /* Hide scrollbars */


}

.card {
    position: relative;
    top: -3.5cm;
    left: 24cm;
    width: 12cm;
    height: 12cm;
    border-radius: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.name {
    border-color: gray;
    position: relative;
    top: 1.5cm;
}

.last-name {
    position: relative;
    top: 2.2cm;
}

.email {
    position: relative;
    top: 2.8cm;
}

.password {
    position: relative;
    top: 3.5cm;
}
input {
    border-radius: 4px;
    width: 10cm;
    border-width: 0.01cm;
    text-indent: 0.5cm;
    font-family: Inherit;
    height: 1.2cm;
    left: 1cm;
}

input::placeholder {
    font-family: Inherit;
    font-weight: 700;
    font-size: 15px;
}

input:is(:focus) {
    outline-color: hsl(246, 25%, 77%);
    font-weight: 700;
    color: black;
}

.tos-group {
    position: relative;
    top: 3.9cm;    
    font-size: 10px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}

.tos-link {
    font-weight: 600;
    text-decoration: none;
    color: red;
}

.btn-trial {
    position: relative;
    top: 4cm;
}

button {
    background-color: hsl(154, 59%, 51%);
    border-style: none;
    border-radius: 5px;
    position: relative;
    width: 10cm;
    height: 1.2cm;
    left: 1cm; 
    font-family: Inherit;
    font-weight: 500;
    color: white;   
    cursor: pointer;
}

.trial {
    background-color: hsl(248, 32%, 49%);
    width: 12cm;
    height: 1.5cm;
    position: relative;
    left: 24cm;
    top: -4cm;
    border-radius: 5px;
    
}

.trial-text {
    position: relative;
    top: 0.5cm;
    text-align: center;
    font-family: Inherit;
    color: hsl(246, 25%, 77%);
    font-size: 14px;
}

.trial-time {
    font-weight: 900;
    color: white;
}

.title-text {
    position: relative;
    top: 6cm;
    color: white;
    left: 8cm;
    font-size: 45px;
}

.description-text {
    color: white;
    position: relative;
    top: 6.5cm;
    left: 8cm;
}

@media screen and (max-width: 425px) {
    .card {
        position: relative;
        top: 2cm;
        left: -0.2cm;
        width: 8.5cm;
    }
    .name {
        width: 7cm;
    }
    .last-name {
        width: 7cm;
    }
    .email {
        width: 7cm;
    }
    .password {
        width: 7cm;
    }
    .btn-trial {
        width: 7cm;
    }
    .trial {
        position: relative;
        top: 1.5cm;
        left: -0.2cm;
        width: 8.5cm;
    }
    .title-text {
        position: relative;
        top: -1cm;
        left: 0;
        text-align: center;
    }
    .description-text {
        position: relative;
        top: -0.5cm;
        left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {}
